[submodule "private"]
	path = private
	url = git@github.com:ageekymonk/private-dotfiles.git
[submodule "hammerspoon"]
	path = hammerspoon
	url = https://github.com/ageekymonk/hammerspoon-config.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
